@font-face {
    font-family: 'ulsanjunggu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ulsanjunggu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KoPubDotumMedium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*상자 밖에 큰 상자 하나 더 하고 display: flex 하기
overflow: hidden
width:1920px
margin:outo 하면 알아서 가운데 정렬 됨
*/
#header {
    background-color: rgb(59, 66, 66);
    height: 25px;
    color: white;
    font-size: small;
    line-height: 22px;
    cursor: pointer;
}

#header {text-align: center;}

.nav{
    display: flex;
    white-space: nowrap;
    margin-left: 0.1px;
    height: 70px;
}
.nav:hover{
    background-color: white;              
    transition: background 0.5s ease-in-out;
}
.nav{
    position: sticky;
    top: 0;  
    width: 100%;          
}
.nav button {
    background-color:transparent;
    border: 0;
    outline: 0;
    color: white;
    cursor: pointer;
}
.btn_right_menu{
    margin-top: 20px;
    margin-left: 670px;         
    cursor: pointer;
}
.btn_right_menu button{
    margin-left: 20px;
    font-size: 18px;
}
.nav > button:not(:first-child){
    font-size: 18px;
    padding-left: 25px;
    font-weight: 500;
}
.tab-button-nav:hover .search{
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(0, 0, 0));
}
#os{
    font-size: 35px;
    padding-left: 70px;
    font-weight: 700;
    padding-top: 10px;
    font-family: 'ulsanjunggu';
}
    
#login{
    font-size: 18px;   
}

.outer{
    width: 100%;
    height: 580px;
    margin: 0 auto;
    overflow: hidden;          
}
.inner-list{
    height: 480px;  
    margin: 0 auto; 
}
.inner{
    height: 480px;
}
/* #cover{
    width: 100%;
    height: 460px;     
    background-color: white;  
    position: relative;
    z-index: 3;
    bottom: 530px;
} */
.inner-list {
    display: flex;
    transition: .3s ease-out;
    height: 100%;
}
.button-list {
    text-align: center;
    position: relative;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}
#os{
    background-color: none;
}
.button-left{
    /* right: 685px; */
    left: -43vw;
}
.button-right{
    /* left: 685px; */
    right: -43vw;
}
.button-left, .button-right{
    background-color: transparent;
    border: 0;
    outline: 0;     
    font-size: 70px;
    position: relative;
    color: rgb(190, 190, 190);
    font-weight: 100;
    cursor: pointer;
    z-index: 1;
    bottom: 350px;
}
#notion{
    background-color: rgb(240, 240, 240);
    padding-left: 20px;
    height: 35px;
    width: 1100px;
    border-radius: 5px;
    margin: auto;
    width: fit-content;
    margin-bottom: 20px;
}
#notion1{
    color: darkolivegreen;
    cursor: pointer;
}
#notion2{
    padding-left: 770px;
    font-size: 23px;
    color: darkgrey;
    cursor: pointer;
}
.recommend{
    width: 1103px;
    margin: auto;
}
#today{
    color: rgb(29, 29, 29);
    font-size: 30px;
    font-family: 'GmarketSansMedium';
    font-weight: 600;

}
#summer{
    margin-left: 25px;
    width: 120px;            
}
#summer, #weekend{
    margin-left: 8px;
    font-family: 'GmarketSansMedium';
    font-size: 15px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    height: 35px;
    cursor: pointer;
}
#weekend{
    width: 140px;
}
.recommend_product{
    width: fit-content;
    margin: auto;
}
.product_box{ 
    margin:auto;
    height: 400px;
    width: 1125px;
    display: flex;
    overflow: hidden;
    margin-top: 30px;
}
.products{
    height: 400px;
    width: 1125px;
    display: flex;
    transition: 0.4s ease-out;
}
.products > .product_class{
    margin-left: 15px;
}
.pr_bt_left, .pr_bt_right{
    height: 50px;
    width: 50px;
    border-radius: 5px;
    background-color: transparent;
    border: 0;
    position: relative;
    bottom: 300px;
    font-size: 50px;
    text-align: center;
    color: rgb(212, 212, 212);
    cursor: pointer;
}
.pr_bt_left:hover, .pr_bt_right:hover{
    background-color: black;
}

#new_product{
    color: white;
    font-size: 13px;
    font-weight: 600;
    background-color: rgb(173, 155, 106);
    text-align: center;
    width: 55px;
    height: 19px;
}    
.mp{
    margin: auto;
    width: fit-content;
    position: relative;
    top: -2vw;
}  
#more_product{
    border: 2px solid rgb(211, 211, 211);
    border-radius: 5px;
    background-color: white;
    height: 30px;
    width: fit-content;
    cursor: pointer;
    bottom: 100px;
}
#more_product_text1{
    font-family: 'GmarketSansMedium';
    color: rgb(104, 104, 104);
    font-size: 13px;
}
#more_product_text2{
    color: rgb(104, 104, 104);
}
#gray_box{
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: 600px;
    padding-top: 50px;
}
#grays{
    margin: auto;
    width: fit-content;
    display: flex;
}
#gray1{
    cursor: pointer;
    height: 550px;
    width: 500px;
    background: linear-gradient(
            rgba(20, 20, 20, 0.2) 8%,
            rgba(20, 20, 20, 0.1) 15%,
            rgba(20, 20, 20, 0) 50%,
            rgba(20, 20, 20, 0.1) 85%,
            rgba(20, 20, 20, 0.2) 100%
          ), url('image/gray1.jpg');
    background-size: cover;
    background-position: center;      
}
#gray1_t1{
    color: white;
    font-family: 'GmarketSansMedium';
    font-size: 30px;
    margin-left: 30px;
}
#gray1_t2{
    margin-left: 90px;
    margin-top: 7px;
}
#clock{
    color: white;
    font-family: 'GmarketSansMedium';
    font-size: 30px;
    margin-left: 10px;
    margin-top: 5px;
}
#gray1_2_1{
    margin-top: 350px;
    margin-left: 30px;
}
#gray1_2_1_t1{
    color: white;
    font-family: 'GmarketSansMedium';
    font-size: 32px;
}
#gray1_2_2{
    display: flex;
}
#gray_1_2_2_t1{
    background-color: rgb(228, 91, 91);
    border-radius: 55px;
    height: 35px;
    width: 46px;
    color: white;
    font-family: 'GmarketSansMedium';
    font-size: 18px;
    padding-top: 17px;
    padding-left: 5px;
}
#gray_1_2_2_t2{
    color: white;
    font-family: 'GmarketSansMedium';
    font-size: 22px;
    margin-left: 10px;
    margin-top: 15px;
}
#gray2{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
#gray2_img1{
    background-image: url('image/gray2.png');
    background-size: cover;
    background-position: center;
    height: 265px;
    cursor: pointer;
}
#gray2_t{
    margin-top: 100px;
    margin-left: 40px;
}
#gray2_t1{
    font-family: 'GmarketSansMedium';
    font-size: 22px;
}
#gray2_t2{
    margin-top: 7px;
    color: dimgray;
}
#gray2_img2{
    background-image: url('image/gray3.jpg');
    background-size: cover;
    background-position: center;
    height: 265px;
    cursor: pointer;
    margin-top: 20px;
}
#gray2_2_t{
    margin-top: 100px;
    margin-left: 40px;
}
#gray2_2_t1{
    color: rgb(211, 211, 211);
    font-size: 17px;
    font-family: 'GmarketSansMedium';
}
#gray2_2_t2{
    font-size: 25px;
    font-family: 'GmarketSansMedium';
    color: white;
}
#sub{
    /* margin-left: 200px; */
    margin: auto;
    width: fit-content;
    margin-top: 70px;
    /* margin: 70px auto 0 auto; */
    /* 상우하좌 */
    height: 580px;
}
.sub1{
    display: flex;
    flex-direction: column;
}
#sub_text1{
    font-family: 'KoPubDotumMedium';
    font-size: 30px;
    color: black;
}
#sub_text2{
    font-family: 'GmarketSansMedium';
    font-size: 15px;
    color: rgb(143, 153, 123);
}
.sub_imgs{
    margin-top: 25px;
    display: flex;
    height: 480px;
    overflow: hidden;
    position: relative;
}
.sub_img1, .sub_img2, .sub_img3{
    width: 386px;
    height: 480px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: absolute;
}
.sub_img1{
    background: linear-gradient(
        rgba(20, 20, 20, 0) 50%,
        rgba(20, 20, 20, 0.1) 70%,
        rgba(20, 20, 20, 0.2) 85%,
        rgba(20, 20, 20, 0.3) 100%
      ), url('image/sub1.jpg');
}
.sub_img2{
    background: linear-gradient(
        rgba(20, 20, 20, 0) 50%,
        rgba(20, 20, 20, 0.1) 70%,
        rgba(20, 20, 20, 0.2) 85%,
        rgba(20, 20, 20, 0.3) 100%
      ), url('image/sub2.jpg');
}
.sub_img3{
    background: linear-gradient(
        rgba(20, 20, 20, 0) 50%,
        rgba(20, 20, 20, 0.1) 70%,
        rgba(20, 20, 20, 0.2) 85%,
        rgba(20, 20, 20, 0.3) 100%
      ), url('image/sub3.jpg');
}
.sub1_t, .sub2_t, .sub3_t{
    margin-top: 380px;
    margin-left: 27px;
}
.sub1_t1,  .sub2_t1, .sub3_t1{
    color: white;
    font-family: 'GmarketSansMedium';
    font-size: 22px;
    margin-bottom: 5px;
}
.sub1:hover .sub_img1_text{     
    transform: translateY(-480px);
    transition: all 0.5s ease-in-out; 
}
.sub1:hover .sub1_t{
    visibility: hidden;
}
.sub2:hover .sub2_t{
    visibility: hidden;
}
.sub3:hover .sub3_t{
    visibility: hidden;
}
.sub_img1_text, .sub_img2_text, .sub_img3_text{
    height: 480px;
    width: 386px;
    background-color: rgba(73, 73, 73, 0.8);
    position: relative;
    top: 480px;
}
.sub2, .sub3{
    margin-left: 12px;
    display: flex;
    flex-direction: column;
}
.sub1, .sub2, .sub3{
    height: 480px;
    overflow: hidden;
}
.sub2:hover .sub_img2_text{
    transform: translateY(-480px); 
    transition: all 0.5s ease-in-out; 
}
.sub3:hover .sub_img3_text{
    transform: translateY(-480px);
    transition: all 0.5s ease-in-out; 
}
.sub_img1_text > div{
    color: white;
    font-family: 'KoPubDotumMedium';
}
.sub_img1_text > span{
    color: white;
    font-family: 'KoPubDotumMedium';
}
.sub1_t2 > span{
    color: white;
    font-family: 'KoPubDotumMedium';
}
.sub1_t2 > div{
    color: white;
    font-family: 'KoPubDotumMedium';
}
.sub1_t2{
    display: flex;
}
#sit1_1{ 
    font-size: 25px;     
    margin-top: 180px;
    margin-left: 26px; 
}
#sit1_2{
    font-size: 17px;
    margin-top: 4px;
    margin-left: 26px; 
}
#sit1_22{
    font-size: 17px;
    margin-top: 4px;
}
#sit1_3{
    font-size: 22px;
}
#sit1_4{
    background-color: rgb(188, 190, 46);
    border-radius: 3px;
    text-align: center;
    height: 23px;
    width: 100px;
    font-size: 17px;
    margin-left: 12px;
}
#sit1_44{
    background-color: rgb(188, 190, 46);
    border-radius: 3px;
    text-align: center;
    height: 23px;
    width: 100px;
    font-size: 17px;
}
#sit1_5{
    margin-left: 26px;
    line-height: 23px;

}
#sit1_5 > span{
    font-size: 17px;
}
/**/
.sub_img2_text > div{
    color: white;
    font-family: 'KoPubDotumMedium';
}
.sub_img2_text > span{
    color: white;
    font-family: 'KoPubDotumMedium';
}
.sub_img3_text > div{
    color: white;
    font-family: 'KoPubDotumMedium';
}
.sub_img3_text > span{
    color: white;
    font-family: 'KoPubDotumMedium';
}
#sit3_1{
    margin-left: 26px;
    margin-top: 300px;
    font-size: 25px;  
}
#sub_button{
    margin-top: 40px;
    border: 2px solid rgb(211, 211, 211);
    border-radius: 5px;
    background-color: white;
    height: 45px;
    width: 250px;
    cursor: pointer;
    margin-left: 460px;
}
#sub_button1{
    font-size: 14px;
    color: rgb(54, 54, 54);
}
#sub_button2{
    font-size: 14px;
    color: rgb(112, 112, 112);
}
.record{
    margin: auto;
    margin-top: 150px;
    width: 1181px;
}
#record_text1{
    font-family: 'KoPubDotumMedium';
    font-size: 30px;
    color: black;
}
#record_text2{
    font-family: 'GmarketSansMedium';
    font-size: 15px;
    color: rgb(143, 153, 123);
}
.record_imgs{
    margin-top: 50px;
    width: 1181px;
    height: 200px;
    overflow: hidden;   
}
.record_box{
    width: 1px;
    height: 200px;
    display: flex;
    transition: 0.5s ease-in-out;    
}
.record_imgs img{
    height: 250px; 
}
.record_img2{
    margin-left: 15px;
}
.rc_bt_left, .rc_bt_right{
    background-color: transparent;
    outline: 0;
    border: 0;
    color: rgb(187, 187, 187);
    font-size: 37px;
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 7px;
    position: relative; 
}
.rc_bts{
    display: flex;
    margin: auto;
    width: fit-content;
    position: relative;
    bottom: 11.5vw;
}
.rc_bt_left:hover{
    background-color: black;
}
.rc_bt_right:hover{
    background-color: black;
}
#record_bt{
    margin-left: 450px;
    margin-top: 40px;
    border: 2px solid rgb(211, 211, 211);
    border-radius: 5px;
    background-color: white;
    height: 45px;
    width: 250px;
    cursor: pointer;
    position: relative;
}
#record_bt1{
    font-size: 14px;
    color: rgb(54, 54, 54);
}
#record_bt2{
    font-size: 14px;
    color: rgb(112, 112, 112);
}
#jeju{
    position: relative;            
    margin: auto;
    background-image: url(image/jeju.jpg);
    height: 180px;
    width: 1200px;
}
.jeju_box{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
    padding-top: 2.8vw;
}
#jeju_text{
    font-family: 'KoPubDotumMedium';
    color: white;
    font-size: 30px;
}
#jeju_bt{
    border: 1px solid rgb(167, 167, 167);
    border-radius: 3px;
    background-color: transparent;
    height: 28px;
    width: 100px;
    cursor: pointer;
    color: white;
    text-align: center;
    margin-left: 70px;
    margin-top: 23px;
}
#jeju_bt1{
    color: rgb(167, 167, 167);
}
#last_gray{
    background-color: rgb(85, 94, 86);
    height: 42px;
    width: 100%;
    margin-top: 55px;
    /* padding-left: 1240px; */
    padding-top: 12px;
    padding-bottom: 10px;
}
#last_gray > div {
    width: fit-content;
    margin-left: auto;
}
#lg_bt1{  /*?????????로그인 버튼 자기혼자 내려가짐*/
    border: 0;
    text-align: center;
    height: 40px;
    width: 100px;
    background-color: rgb(54, 54, 54);
    color: white;
    font-size: 18px;
    cursor: pointer;
}
#lg_bt2{
    border: 0;
    background-color: rgb(54, 54, 54);
    border-radius: 30px;
    height: 42px;
    width: 42px;
    margin-left: 10px;
    cursor: pointer;
}
.mun{
    height: 160px;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
.mun1{
    margin-left: 50px;
}
.mun1_1{
    color: rgb(70, 70, 70);
    font-size: 14px;
}
.mun1_2{
    margin-top: 8px;
    font-size: 26px;
    color: rgb(73, 73, 73);
    font-family: 'GmarketSansMedium';
}
.mun1_3{
    margin-top: 9px;
    font-size: 13px;
    color: rgb(70, 70, 70);
}
.mun2{
    margin-left: 70px;
}
.mun2_2{
    font-weight: 600;
    color: rgb(73, 73, 73);
    font-size: 16px;
    text-decoration : underline;
    text-decoration-color: rgb(73, 73, 73);
    margin-bottom: 3px;
}
.mun3{
    display: flex;
    margin-left: 27vw;
}
.mun3_1{
    margin: auto;
    width: fit-content;
    margin-left: 45px;
}
.mun3_img{
    margin-left: 15px;
    margin: auto;
}
.mun3_1 > div{
    text-align: center;
    width: fit-content;
}
.w{
    margin-top: 30px;
    margin-left: 80px;
    display: flex;
}
.w2{
    margin-left: 50px;
}
.wm1{
    display: flex;
    height: 10px;
}
.wm1 hr{
    height: 0.6em;
    width:.1px;
    border-width:0;
    color:rgb(187, 187, 187);
    background-color:rgb(121, 121, 121);
}
.wm1 div{
    margin-right: 7px;
    font-size: 13px;
    color: rgb(46, 46, 46);
    margin-top: 5px;
}
.wm1 div:not(.wm1_1){
    margin-left: 5px;
}
.wm2{
    display: flex;
    margin-top: 23px;
}
.wm2_1 div{
    font-size: 13px;
    color:  rgb(150, 150, 150);
    line-height: 23px;
}
.wm2_2{
    margin-left: 15px;
    margin-top: 18px;
}
.wm2_2 button{
    border-radius: 2px;
    border-color: rgb(182, 182, 182);
    background-color: rgb(243, 243, 243);
    color: rgb(153, 153, 153);
    font-size: 13px;
    width: 120px;
}
.wm3{
    margin-top: 15px;
}
.wm3 div{
    color: rgb(150, 150, 150);
    font-size: 13px;
    line-height: 20px;
}
.w3{
    margin-left: 320px;
    width: 310px;
    height: 100px;
    border: 1px solid rgb(206, 206, 206);
    padding-top: 17px;
    padding-left: 20px;
}
.w3_1{
    color: rgb(54, 54, 54);
    font-size: 13px;
    margin-bottom: 10px;
}
.w3_2{
    color: rgb(99, 99, 99);
    font-size: 12px;
    margin-left: 12px;
}
.main_text{
    position: relative;
    bottom: 350px;
    left: 130px;
    font-size: 35px;
    font-weight: 550;
    font-family: 'GmarketSansMedium';
}
.main_1_text{
    position: relative;
    bottom: 310px;
    left: 130px;
    color: black;
}
.main_btn{
    position: relative;
    bottom: 250px;
    right: 210px;
    background-color: transparent;
    border-radius: 5px;
    height: 30px;
    width: 130px;
    color: black;
}
#product_nav{
    height: 70px;
    display: flex;
}
#product_os{
    font-size: 38px;
    font-weight: 700;
    font-family: 'ulsanjunggu';
    margin-left: 60px;
}
#product_nav1{
    font-size: 18px;
    font-weight: 500;
    font-family: 'GmarketSansMedium';
}
#product_nav button{
    height: 70px;
    background-color: transparent;
    border: 0;
    outline: 0;
}
#product_nav1{
    margin-left: 40px;
    color: rgb(59, 59, 59);
}
.product_nav2{
    margin-left: 670px;
    display: flex;
}
.product_nav2 button{
    font-size: 14px;
    font-weight: 500;
    font-family: 'GmarketSansMedium';
    color: rgb(59, 59, 59);
}
.product_sidebar{
    margin-left: 60px;
    margin-top: 30px;
    font-size: 15px;
    font-family: 'GmarketSansMedium';
    color: rgb(59, 59, 59);
    width: 140px;
}
.product_sidebar1{
    margin-left: 24px;
    font-family: 'GmarketSansMedium';
    color: rgb(59, 59, 59);
    width: 100px;
}
.product_sidebar1 div{
    margin-top: 30px;
}
.product_top div,button{
    font-family: 'GmarketSansMedium';
    color: rgb(59, 59, 59);
    font-size: 15px;
}
.product_top .pr_top_bt{
    width: 50px;
}
.product_top{
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
}
.product_top > .product_bt{
    display: flex;
    margin-left: 50vw;
    margin-bottom: 15px;
}
.product_bt button{
    background-color: transparent;
    outline: 0;
    border: 0;
    height: 16px;
    cursor: pointer;
    width: 90px;
}
#product_bt5{
    margin-left: 8px;
}
.product_middle{
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
}
.product_mid1{
    width: 300px;   
}
.product_mid1 span{
    font-family: 'GmarketSansMedium';
    font-size: 13px;
}
#mid_t1{
    color: rgb(153, 153, 153);
}
#mid_t2{
    color: rgb(33, 104, 26);
}
.product_mid2{
    margin-left: 32vw;
    width: 800px;
}
.product_mid2 button{
    margin-left: 8px;
    font-family: 'GmarketSansMedium';
    font-size: 15px;
    width: fit-content;
    height: 34px;
    outline: 0;
    border: 0;
    border-radius: 22px;
    cursor: pointer;
    color: rgb(156, 156, 156);
    background-color: rgb(241, 241, 241);
}
#mid_bt_1, #mid_bt_2, #mid_bt_4{
    padding-left: 1.7vw;
    padding-right: 1.7vw;
    width: fit-content;
}
#mid_bt_3{
    padding-left: 1.1vw;
    padding-right: 1.1vw;
    width: fit-content;
}
#mid_bt_5{
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    width: fit-content;
}
.present_pic_div{
    width: 100%;
    height: 100px;
    margin-bottom: 12px;
    padding-top: 15px;
}
.present_pics{
    width: fit-content;
    display: flex;
    height: 85px;
    margin: auto;
}
.present_main1{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.present_main1 img{
    height: 70px;
    width: 70px;
}
.present_main1 span{
    font-size: 13px;
    color: rgb(99, 99, 99);
}
.present_recommend{
    width: 1200px;
    margin: auto;
    height: 600px;
    margin-top: 80px;
}
.pre_rec_text1{
    font-family: 'GmarketSansMedium';
    font-size: 30px;
}
.pre_rec_text2{
    font-family: 'GmarketSansMedium';
    font-size: 20px;
    color: rgb(153, 153, 153);
}
.pre_slide{
    display: flex;
    margin-left: 750px;
    height: 20px;
    margin-top: 45px;
}
.pre_slide button{
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 30px;
    color: rgb(153, 153, 153);
}
#pre_rec_imgs{
    display: flex;
    transition: 0.5s ease-in-out;  
}
.pre_rec_img_box{
    overflow: hidden;
    margin-top: 30px;
}
#pre_rec_imgs img:not(.pre_rec_img1 img){
    margin-left: 15px;
}